#leftVbox {
    -fx-background-color: #00A859;
    -fx-padding: 20 0 20 20;
    -fx-background-radius: 0 20 20 0;
}

.button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-background-radius: 10px;
    -fx-border-radius: 1px;
    -fx-border-color: transparent;
    -fx-font-size: 14px;
    -fx-alignment: CENTER_LEFT;
    -fx-translate-x: 100%;
    -fx-padding: 5 20 5 5;
}

.button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.2);
}

.button:selected, .button:focused {
    -fx-background-color: #f0f2f5;
    -fx-text-fill: #00A859;
    -fx-background-radius: 20 0 0 20;
    -fx-border-radius: 20 0 0 20;;
    -fx-border-color: #f0f2f5;
}

Pane {
    -fx-background-color: #f0f2f5;
}

.card-title {
    -fx-font-size: 16px;
    -fx-text-fill: #333;
    -fx-font-weight: bold;
}

.card-number {
    -fx-font-size: 36px;
    -fx-text-fill: #222;
    -fx-font-weight: bold;
}

#totalUsersCard, #totalScholarshipsCard, #totalApplicationsCard {
    -fx-background-color: #FFFFFF;
    -fx- background-radius: 10;
    -fx-padding: 15;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 12, 0.5, 0, 2);
}

#centerVbox{
    -fx-padding: 70px;
}


