#backgroundPane{
    -fx-background-color: #00A859;
}


#rightVBox {
    -fx-background-color: #f0f0f0;
    -fx-background-radius: 30px;
    -fx-padding: 40px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 10, 0.5, 0, 0);
}

#rightVBox TextField,
#rightVBox PasswordField {
    -fx-padding: 8 12 8 12; /* top, right, bottom, left */
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
    -fx-font-size: 14px;
}

#rightVBox > #loginTitle {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
}

#HBoxButtons > Button{
        -fx-background-color: #00A859;
        -fx-text-fill: white;
        -fx-background-radius: 10px;
        -fx-border-radius: 1px;
        -fx-border-color: transparent;
}