.root {
    -fx-font-family: "Poppins", sans-serif;
    -fx-font-size: 14px;
}

#backgroundPane{
    -fx-background-color: #00A859;
}

#rightVBox {
    -fx-background-color: #f0f0f0;
    -fx-background-radius: 30px;
    -fx-padding: 30px;
    -fx-spacing: 15px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 12, 0.5, 0, 2);
}

/* Title text */
#loginTitle {
    -fx-font-size: 26px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
    -fx-padding: 30px;
    -fx-font-weight: bold;

}

/* Text input fields */
.nameInput, .passwordInput {
    -fx-padding: 10 14;
    -fx-margin: 20;
    -fx-font-size: 14px;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: #cccccc;
    -fx-border-width: 1px;
    -fx-background-color: white;
}

/* Login and Cancel buttons */
.loginButton, .cancelButton {
    -fx-background-color: #00A859;
    -fx-text-fill: white;
    -fx-background-radius: 8px;
    -fx-font-size: 14px;
    -fx-padding: 6 12;
}

.cancelButton {
    -fx-background-color: #aaaaaa;
}

/* Language buttons */
.englishButton, .shqipButton {
    -fx-background-color: #dddddd;
    -fx-background-radius: 8px;
    -fx-text-fill: #333;
    -fx-font-size: 12px;
}

/* Signup link */
.signupLink {
    -fx-text-fill: #00A859;
    -fx-underline: true;
    -fx-cursor: hand;
    -fx-font-size: 13px;
    -fx-padding: 10 0 0 0;
}