#topHbox {
    -fx-background-color: #00A859;
    -fx-padding: 20 0 20 20;
    -fx-spacing: 10;
}

#welcome{
    -fx-font-size: 36px;
    -fx-text-fill: #555555;
    -fx-font-weight: bold;
}
#topHbox .button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-background-radius: 10px;
    -fx-border-radius: 1px;
    -fx-border-color: transparent;
    -fx-font-size: 14px;
    -fx-alignment: CENTER;
    -fx-padding: 5 15;
    -fx-cursor: hand;
}

.wrapped-text {
    -fx-padding: 6px;
    -fx-font-size: 14px;
}

#topHbox .button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.2);
}

#topHbox .button:selected, #topHbox .button:focused {
    -fx-background-color: #f0f2f5;
    -fx-text-fill: #00A859;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: #f0f2f5;
}

Pane {
    -fx-background-color: #f0f2f5;
}

#notificationTable {
    -fx-font-size: 13px;
    -fx-table-cell-border-color: transparent;
    -fx-background-color: #f5f5f5;
}

.table-cell {
    -fx-wrap-text: true;
    -fx-alignment: TOP_LEFT;
    -fx-padding: 5px;
}

.table-view .column-header-background {
    -fx-background-color: #e0e0e0;
}

.table-view .column-header,
.table-view .filler {
    -fx-size: 32px;
    -fx-border-color: transparent;
}

.table-column#dateColumn .table-cell {
    -fx-alignment: CENTER_RIGHT;
    -fx-text-fill: #555555;
}

.table-column#messageColumn .table-cell {
    -fx-wrap-text: true;
    -fx-text-fill: #333333;
    -fx-alignment: TOP_LEFT;
}

